{  CIDER: {    dependencies: {      nuget: "",      tatin: "",    },    dependencies_dev: {      tatin: "packages_dev=TestCases",    },    distributionFolder: "Dist",    init: "",    make: "Admin.Make 1",    parent: "#",    projectSpace: "CommTools",    project_url: "https://github.com/aplteam/CommTools",    source: "APLSource",	tatinVars: "CommTools",    tests: "TestCases.RunTests",  },  LINK: {  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}